.LandingHeader{
    display: flex;
    min-height: 100vh;
    align-items: center;
    background-color: #262626;
}
.LandingHeader h2{
    color: #fff;
    font-size: 5em;
    font-weight: 600;
    padding: 0 100px;
}

.LandingHeader h2 span{
    position: relative;
    color: rgba(255, 255, 255, 0.1);
    animation: displayText 9s infinite;
    animation-delay: calc(-3s * var(--i));
}
@keyframes displayText {
    0%{
        display: inline-block;
    }
    33.33%,100%{
        display: none;
    }
}