.container_services{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.title_services{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
}
.title_services h2{
    align-items: center;
    justify-content: center; 
    color: #262626;
    font-size: 3em;
    margin: 0;
}
.title_services h2 span{
    color: #c76329;
}
.services{
    display: flex;
    gap: 1rem;
}
.card_service{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 350px;
    width: 350px;
    border: 1px solid black;
}
.card_service img{
    width: 150px;
}