.Navigation{
    display: flex;
    background-color: #262626;
    justify-content: end;
    gap: 1rem;
}
.Navigation span{
    cursor: pointer;
    background-color: #01fe87;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px;
}