.Navigation{
    display: flex;
    background-color: #fff;
    justify-content: end;
    gap: 1rem;
}
.Navigation a{
    cursor: pointer;
    color: #262626;
    background-color: #c1c4c2;
    border-radius: 20px;
    padding: 5px 20px;
    margin: 10px;
    text-decoration: none;
}